body {
  background-color: #ffffff;
  background-size: cover;
  font-family: berlin sans fb;
  color: #000000;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  background: rgba(116, 116, 116, 0.926);
  margin: 40px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #4d4743;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 0;
}

.add-btn{
  background-color: #ffffff18;
  color: rgb(0, 0, 0);
  border: none;
  padding: 8px 14px;
  border-radius: 10px;
  cursor: pointer;
}

.reset-btn{
  background-color: #0f8da9;
  color: rgb(0, 0, 0);
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}
.dark-btn{
  background-color: #003541c8;
  color: rgb(255, 255, 255);
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.add-btn:hover{
    background-color: rgba(255, 255, 255, 0.217);
}

.dark-btn:hover {
  background-color: #002c36;
}

.reset-btn {
  width: 100%;
  background-color: #02007d;
  margin-top: 15px;
}

.reset-btn:hover {
  background-color: #010168de;
}

.food-form {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.food-form input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

#foodList {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

#foodList li {
  background: #f8f8f8;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #ddd;
}

.total {
  font-size: 1.2em;
  font-weight: bold;
}
/*Darkmode*/
body.dark {
  background-color: rgb(0, 0, 0); 
  color: #f0f0f0;
}

body.dark .container {
  background-color: #2a2a2ae2;
  box-shadow: 0 0 10px #000;
}

body.dark input,
body.dark #foodList li {
  background-color: #333;
  border-color: #555;
  color: white;
}

body.dark .add-btn,{
 
}
body.dark .reset-btn{
  width: 100%;
  background-color: #00157de2;
  margin-top: 15px;
}
body.dark .dark-btn {
  background-color: #3c2a03e8;
}

body.dark .dark-btn:hover {
  background-color: #3c2a03;
}

body.dark .reset-btn:hover{
    background-color: #00157d;
}